@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* default setting */
html, body {
    padding: 0;
    margin: 0;
}

html {
    /* Stretch the space to match the window */
    height: 100%;
}

body {
    /* Stretch the space to match the window */
    height: 100%;
    font-family: 'Aldrich', sans-serif;
    background-color: #5CA7BA;
    box-sizing: border-box;
}

.container {
    /* Stretch the space to match the window */
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Outer layer reset */
header, main, footer {
    margin: 0;
    padding: 0;
}

/* header section */
header {
    margin: 1.5rem 5rem;
    padding: 1rem 1rem;
    font-size: 32px;
    background-color: #FEB54E;
    border: 4px solid black;
    justify-content: flex-start;
    box-shadow: 6px 6px;

}

h2 {
    margin: 0;
    padding: 1rem 1rem;
    text-align: center;
    background-color: #F5F1EC;
    border: 4px solid black;
}

/* main section */
main {
    flex: 1;
    margin: auto;
    text-align: center;
}

p {
    margin: 1rem;
    font-size: 20px;
}

/* buttons section */
.choices {
    margin: 1rem 1rem;
    padding: 2rem 1.5rem;
    font-size: 64px;
    background-color:#fad3e5;
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: 6px 4px;
}

/* selection section */
table {
    margin: 1rem auto;
    font-size: 28px;
}

th {
    width: 130px;
    text-align: center;
    padding: 4px;
    background-color: #F5F1EC;
    border: 3px solid black;
}

td {
    font-size: 48px;
}

.score {
    padding: 3rem 1rem;
    font-size: 32px;
}

/* ending section */
.ending {
    margin: 1rem;
    font-size: 32px;
    font-weight: 1000;
    padding: 1rem 1rem;
    background-color: #F5F1EC;
    border: 3px solid black;
    box-shadow: 6px 6px #A7B781;
}

.function-btn {
    margin: 1rem 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 24px;
    font-family: inherit;
    font-weight: 900;
    background-color: #d8f09e;
    border: 3px solid black;
    box-shadow: 6px 4px black;
}

/* footer section */
footer {
    margin-top: 1rem;
    padding: 1.5rem 0;
    font-size: 16px;
    background-color: #F5F1EC;
    text-align: center;
    justify-content: flex-end;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    list-style: none;
}